@font-face {
    font-family: Happyness;
    src: url(cmu.serif-roman.ttf);
}
  
p{ 
    font-family: Happyness;
    color:rgb(41,41,41);
    background: rgb(230, 230, 230);
    font-size: 18px;
}
img{
    margin-left:auto;
    margin-right:auto;
    width: 550px;
    display: block;
    border: 25px rgb(200,200,200);
}
body{
    width:600;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(240,240,240);
}